In [2]:
# Dependencies
import pandas as pd
import numpy as np

In [8]:
PAA_df = pd.read_csv('Resources/PAA.csv')

# Drop the adjusted close column
PAA_df.drop(columns=['Adj Close'], inplace=True)
PAA_df.set_index('Date', inplace=True)

PAA_df

             Open   High    Low  Close    Volume
Date
2021-05-11   9.66   9.94   9.53   9.88   6009400
2021-05-12   9.95  10.20   9.69   9.76   6371700
2021-05-13   9.86  10.03   9.67  10.01   4053700
2021-05-14  10.20  10.31  10.06  10.14   4721700
2021-05-17  10.11  10.46  10.07  10.45   3280800
...           ...    ...    ...    ...       ...
2022-05-04  10.88  11.11  10.65  11.11   4825900
2022-05-05  10.91  11.31  10.74  10.93   9205600
2022-05-06  10.96  11.03  10.74  10.92   3592600
2022-05-09  10.76  10.84  10.32  10.40  10240000
2022-05-10  10.52  10.67  10.07  10.37   7497400

[253 rows x 5 columns]

In [25]:
# Cleaning the CMS data
cms_df = pd.read_csv('Resources/CMS.csv')
cms_df.drop(columns=['Adjusted Close'], inplace=True)
cms_df['Date'] = pd.to_datetime(cms_df['Date'], infer_datetime_format= True)
cms_df.set_index('Date', inplace=True)
cms_df = cms_df.loc['2021-01-01':]
cms_df

                  Low       Open   Volume       High      Close
Date
2021-01-04  59.360001  60.639999  1821600  60.799999  59.610001
2021-01-05  58.389999  59.709999  2745100  59.849998  58.549999
2021-01-06  58.310001  58.529999  2296600  59.830002  59.730000
2021-01-07  57.939999  59.880001  2023900  59.990002  57.950001
2021-01-08  57.099998  57.889999  2471600  58.040001  57.680000
...               ...        ...      ...        ...        ...
2022-05-03  67.389999  67.980003  2112100  69.169998  67.489998
2022-05-04  67.480003  67.529999  2247400  69.000000  68.839996
2022-05-05  66.989998  68.209999  1370900  68.519997  67.480003
2022-05-06  66.919998  67.199997  2060700  68.010002  67.750000
2022-05-09  67.190002  67.449997   395850  68.285004  68.169998

[340 rows x 5 columns]

In [27]:
# Set Dat
cms_df["Day Result"] = np.where(cms_df["Close"] > cms_df["Open"], 1, 0)
cms_df.to_csv('Resources/CMS_Clean.csv')